:root {
    --blanco: white;
    --crema:#fae9e0;

    --naranjo-main:#FF7E38;
    --amarillo-naranjo:#FFA138;
    --amarillo:#FFBC38;
    --naranjo-secondary:#FF5B38;
    --rojo-anaranjado: #FF3838;


    --gris-oscuro: #373435;

}