.convenio-container {
    display: flex;
    flex-direction: column;
}
.convenio-titulo {
    font-size: 7rem;
    font-style: italic;
    font-weight: 500;
    padding: 0.4rem 8rem;
    text-align: end;
    margin-bottom: 2.4rem;
}