.convenio-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.convenio-img {
    min-width: 30rem;
    height: 20rem;
    margin: 1rem 4rem;
    border-radius: 10px;
}

.convenio-card-texto {
    font-size: 4rem;
    font-style: italic;
    margin: 0 1.6rem;
    font-weight: 900;
    font-style: italic;
}

.convenio-descripcion {
    font-size: 2rem;
    padding: 0.2rem 1.6rem;
}

.convenio-card {

    border-radius: 10px;
    padding: 1.6rem 0 2.8rem 0;
    margin: 0 2.4rem;
    margin-top: 1rem;
    
}

.convenio-card > .convenio-card-texto{
    background-color: rgba(255, 93, 56, 0.937);
    color: var(--crema);

}

.convenio-card:nth-child(2n)  {
    

}

.convenio-card:nth-child(2n) > .convenio-card-texto  {
    text-align: end;
    background-color: #fae9e0ba;
    color: rgb(255, 93, 56);

}

.convenio-card:nth-child(2n) > .convenio-card-container{
    flex-direction: row-reverse;
}

.btn-convenios{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: var(--naranjo-secondary);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50rem;
    font-size: 3rem;
    font-style: italic;
    
    
}
.btn-convenio1{
    display: flex;
    justify-content: center;
    align-items: center;
}