.convenio-container {
    display: flex;
    flex-direction: column;
}
.convenio-titulo {
    margin-top: 3rem;
    font-size: 7rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5rem;
}