.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    min-height: 10vh;
    box-shadow: 0 0 1rem var(--naranjo-main);
    border-radius: 0 0 1rem 1rem;
}

.logo{
    max-width: 10rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
nav > ul {
    display: flex;
    list-style: none;
}

li > a {
    margin: 0 1.6rem;
    font-size: 2.4rem;
    color: var(--naranjo-main);
    font-weight: 400;
    font-style: italic;
}

figure  {
    height: 4rem;
    max-width: 6rem;

}


.links-header{
    color: var(--naranjo-main);
    text-align: center;
    
}

.links-header-a{
    color: var(--naranjo-main);
    text-align: end;
}

.navbar-collapse{
    align-items: center;
}


.custom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-header {
    display: grid;
    grid-template-columns: 0.3fr auto 0.3fr;
    width: 100%;
}

.header-header .child-1 {
    justify-self: start;
}

.header-header .child-3 {
    justify-self: end;
}