.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    min-height: 10vh;
    box-shadow: 0 0 1rem var(--header-box-shadow);
    border-radius: 0 0 1rem 1rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
nav > ul {
    display: flex;
    list-style: none;
}

li > a {
    margin: 0 1.6rem;
    font-size: 2.4rem;
    color: var(--header-box-shadow);
    font-weight: 900;
    font-style: italic;
    
}

figure  {
    height: 6.8rem;
}