@import '_vars';
.menu-admninistrador-container {
    display: flex;
    flex: 1;
}
.menu-admninistrador-container-left {
    width: 26rem;
    background-color: rgba(236, 236, 236, 0.89);
    border-radius: 0.8rem;
    height: calc(100vh - 7.8rem); /* Reemplaza X con la altura del otro elemento */
    top: 0rem;
    overflow: auto;
}
.menu-admninistrador-container-left::-webkit-scrollbar, .menu-admninistrador-container-right::-webkit-scrollbar {
    display: none; 
}

.menu-admninistrador-container-right {
    flex: 1;
    align-items: top;
    padding: 2rem;
    height: calc(100vh - 7.8rem);
    overflow: auto;
}