.panel-redSocial-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    grid-gap: 2rem;
    place-items: center;
}


.imagen-boton-agregar-container {
    width: 40%; 
    height: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    
}
.borde-boton-servicio {
    color: var(--crema);
    border: 2px solid rgb(218, 218, 218);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
    width: 320px;
    height: 350px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 1rem;
    transition: all 0.5s ease;
    display: grid;
    place-items: center;
}


