.servicio-titulo{
    font-size: 7rem;
    font-style: italic;
    margin-bottom: 5rem;
}
.card-servicio {
    border: 3px solid var(--main-black-markay);
    background-color: var(--card-gray-bg);
    width: 50%;
}


.card-servicio:nth-child(2n){
    background-color: rgb(255, 126, 66);
    color: white;
}





