.servicio-titulo{
    font-size: 7rem;
    font-style: italic;
    margin-bottom: 5rem;
}
.card-servicio {
    width: 100%;
}


.card-servicio:nth-child(2n){
    background-color: var(--amarillo-naranjo);
    color: white;
}

.servicio-title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}





