.wave-footer{
    background-color: var(--naranjo-main);
}

footer{
    background-attachment: scroll;
}

.footer-title{
    font-size: 5rem;
    font-style: italic;
    color: var(--blanco);
}
.footer-content{
    color: var(--blanco);
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
}

.icon-social{
    height: 5rem;
    width: 5rem;
    
}

