.wave-footer{
    background-color: var(--header-box-shadow);

}

footer{
    background-attachment: scroll;
}

.footer-title{
    font-size: 5rem;
    font-style: italic;
    color: var(--header-background);
}
.footer-content{
    color: var(--header-background);
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
}

.icon-social{
    height: 5rem;
    width: 5rem;
    
}

